
/.idea_modules
/.idea
/target
/project/boot
/project/target
/project/plugins/project
/project/plugins/target
/lift_proto.db.h2.db
/lift_proto.db.lock.db
/target
/target
/project/boot
/project/target
/project/plugins/project
/project/plugins/target
/.classpath
/.project
/.settings